<div class="container">

  <div class="row">
    <div class="col s6">
      <ul class="contact-list center">
        <li>{{ site.title }}</li>
      </ul>
    </div>

    <div class="col s6">
      <ul class="social-media-list center">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="social-icon"><i class="fa fa-github"></i></span>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="social-icon"><i class="fa fa-twitter"></i></span>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>